html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header, .banner .banner_content .banner_main .banner_main_content .banner_main_button .banner_main_button_content .banner_main_button_img .banner_main_button_img_content, .banner .banner_content .banner_main .banner_main_content .banner_main_button .banner_main_button_content .banner_main_button_dow .banner_main_button_dow_content, .main .main_content .privacy .privacy_content, .main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_img .function_text_li_img_content, .main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_img .function_text_li_img_content .function_text_li_img_svg, .main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_img .function_text_li_img_content .function_text_li_img_svg span, .main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_text .function_text_li_text_content ol li span, .main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li, .main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li span, .main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li, .main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li span, .main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li, .main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li span, .main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2) .function_text_li_content .function_text_li_img .function_text_li_text ol li span, .main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li, .main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li span, .main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li, .main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li span, .main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li, .main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li span, .download {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url("../images/ba.png");
  background-size: cover;
}

.spacer {
  height: 0;
  transition: height 0.3s ease;
}

.spacer:active {
  height: 80px;
}

.header {
  position: relative;
  width: 100%;
  height: 70px;
}

.header .header_content {
  width: 1320px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
}

.header .header_content .logo {
  width: 50%;
}

.header .header_content .menu_language {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header_content .menu_language .menu_language_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .header_content .menu_language .menu_language_content .hamburger {
  font-size: 1.5em;
  cursor: pointer;
  display: none;
  user-select: none;
}

.header .header_content .menu_language .menu_language_content .menu {
  width: 70%;
}

.header .header_content .menu_language .menu_language_content .nav-menu {
  display: flex;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content {
  margin: 0 auto;
  width: 100%;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li a {
  color: #000000;
  text-decoration: none;
  transition: all 0.8s ease;
}

.header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li a:hover {
  color: #177AFF;
}

.header .header_content .menu_language .menu_language_content .show {
  display: block;
}

.header .header_content .menu_language .menu_language_content .language {
  width: 20%;
  position: relative;
  display: flex;
  margin-left: 20px;
}

.header .header_content .menu_language .menu_language_content .language .language_content {
  margin: 0 auto;
}

.header .header_content .menu_language .menu_language_content .language .language_content .dropdown-toggle {
  font-size: 16px;
  cursor: pointer;
  width: 29px;
  height: 29px;
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(2, 79, 184, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content span {
  color: black;
  padding: 21px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #fff;
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content span:nth-child(4) {
  border-bottom: none;
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content span:hover p {
  transform: scale(1.5);
}

.header .header_content .menu_language .menu_language_content .language .dropdown-content span p {
  color: #fff;
  margin-left: 22px;
  font-size: 12px;
  transition: font-size 4s ease-in-out;
  transition: all 0.4s ease-out;
}

.header .header_content .menu_language .menu_language_content .language .show {
  display: block;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(2, 79, 184, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.fixed .header_content .menu_language .menu_language_content .menu .menu_content ul li a {
  color: #fff;
}

@media screen and (max-width: 770px) {
  .header .header_content .menu_language .menu_language_content .hamburger {
    display: block;
    color: #000000;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content {
    width: 100%;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul {
    width: 100%;
    line-height: 4;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li {
    border-bottom: 2px solid #fff;
    width: 100%;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li:nth-child(4) {
    border-bottom: none;
  }
  .header .header_content .menu_language .menu_language_content .nav-menu .menu_content ul li a {
    width: 100%;
    display: inline-block;
    margin: 0 20px;
  }
  .header .header_content .menu_language .menu_language_content .show {
    display: flex;
    z-index: 3;
    background: #024FB8;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
}

.banner {
  position: relative;
  width: 1778px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.banner .banner_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner_content .banner_main {
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner .banner_content .banner_main .banner_main_content {
  display: flex;
  align-items: center;
}

.banner .banner_content .banner_main .banner_main_content .banner_main_img {
  width: 50%;
  position: relative;
  margin-top: 40px;
  z-index: 1;
}

.banner .banner_content .banner_main .banner_main_content .banner_main_img .banner_main_img_content {
  margin: 0 auto;
}

.banner .banner_content .banner_main .banner_main_content .banner_main_img .banner_main_img_content img {
  width: 100%;
}

.banner .banner_content .banner_main .banner_main_content .banner_main_button {
  position: relative;
  width: 50%;
  z-index: 1;
}

.banner .banner_content .banner_main .banner_main_content .banner_main_button .banner_main_button_content {
  margin: 0 auto;
}

.banner .banner_content .banner_main .banner_main_content .banner_main_button .banner_main_button_content .banner_main_button_img {
  position: relative;
}

.banner .banner_content .banner_main .banner_main_content .banner_main_button .banner_main_button_content .banner_main_button_img .banner_main_button_img_content img {
  width: 25%;
}

.banner .banner_content .banner_main .banner_main_content .banner_main_button .banner_main_button_content .banner_main_button_dow {
  position: relative;
}

.banner .banner_content .banner_main .banner_main_content .banner_main_button .banner_main_button_content .banner_main_button_dow .banner_main_button_dow_content a {
  margin-right: 40px;
}

.banner .banner_content .banner_main .banner_main_content .banner_main_button .banner_main_button_content .banner_main_button_dow .banner_main_button_dow_content a img {
  width: 100%;
}

.banner .banner_content .banner_img {
  position: relative;
}

.banner .banner_content .banner_img .banner_img_content {
  margin: 0 auto;
}

.banner .banner_content .banner_img .banner_img_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1666px) {
  .banner {
    width: 100%;
  }
  .banner .banner_content .banner_main .banner_main_content .banner_main_img .banner_main_img_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
}

@media screen and (max-width: 847px) {
  .banner {
    width: 90%;
  }
  .banner .banner_content .banner_main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner .banner_content .banner_main .banner_main_content {
    flex-wrap: wrap;
  }
  .banner .banner_content .banner_main .banner_main_content .banner_main_img {
    width: 100%;
    display: none;
  }
  .banner .banner_content .banner_main .banner_main_content .banner_main_button {
    width: 100%;
  }
  .banner .banner_content .banner_main .banner_main_content .banner_main_button .banner_main_button_content .banner_main_button_dow .banner_main_button_dow_content a {
    margin-right: 0;
    margin: 0 10px;
    text-align: right;
  }
  .banner .banner_content .banner_main .banner_main_content .banner_main_button .banner_main_button_content .banner_main_button_dow .banner_main_button_dow_content a img {
    width: 80%;
  }
  .banner .banner_content .banner_main .banner_main_content .banner_main_button .banner_main_button_content .banner_main_button_dow .banner_main_button_dow_content a:nth-child(2) {
    text-align: left;
  }
  .banner .banner_content .banner_img .banner_img_content img {
    border-radius: 6px;
  }
}

.main {
  position: relative;
}

.main::before {
  content: '';
  position: absolute;
  top: 580px;
  right: -110px;
  width: 915px;
  height: 802px;
  z-index: -1;
  background: url("../images/crowd_1.png") no-repeat center center;
}

.main::after {
  content: '';
  position: absolute;
  bottom: 30px;
  left: 100px;
  width: 726px;
  height: 637px;
  z-index: -1;
  background: url("../images/crowd_2.png") no-repeat center center;
}

.main .main_content {
  max-width: 1320px;
  margin: 0 auto;
}

.main .main_content .privacy {
  position: relative;
  margin-top: 72px;
}

.main .main_content .privacy .privacy_content {
  margin: 0 auto;
}

.main .main_content .privacy .privacy_content .privacy_img {
  position: relative;
  top: 160px;
  width: 50%;
  margin: 20px;
}

.main .main_content .privacy .privacy_content .privacy_img .privacy_img_content {
  margin: 0 auto;
  position: relative;
}

.main .main_content .privacy .privacy_content .privacy_img .privacy_img_content img {
  width: 100%;
}

.main .main_content .privacy .privacy_content .privacy_text {
  position: relative;
  top: -160px;
  width: 50%;
  margin: 20px;
  background-color: #fff;
  border-radius: 16px;
  border: 2px solid #177AFF;
}

.main .main_content .privacy .privacy_content .privacy_text::after {
  content: '';
  position: absolute;
  top: 21px;
  left: 21px;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transition: all 1s ease;
  border-radius: 16px;
  background-color: #177AFF;
  z-index: -1;
}

.main .main_content .privacy .privacy_content .privacy_text .privacy_text_content {
  line-height: 2;
  padding: 40px;
}

.main .main_content .privacy .privacy_content .privacy_text .privacy_text_content svg {
  width: 20%;
  height: auto;
}

.main .main_content .privacy .privacy_content .privacy_text .privacy_text_content h2 {
  font-size: 22px;
  color: #177AFF;
}

.main .main_content .privacy .privacy_content .privacy_text .privacy_text_content p {
  font-size: 16px;
}

.main .main_content .privacy .privacy_content .privacy_text:hover::after {
  top: 0;
  left: 0;
}

.main .main_content .function {
  position: relative;
}

.main .main_content .function .function_content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: top;
}

.main .main_content .function .function_content .function_title {
  position: relative;
  padding: 80px 0;
}

.main .main_content .function .function_content .function_title .function_title_content {
  text-align: center;
}

.main .main_content .function .function_content .function_title .function_title_content img {
  width: 60%;
}

.main .main_content .function .function_content .function_text {
  position: relative;
  padding: 60px 0 150px 0;
}

.main .main_content .function .function_content .function_text .function_text_content {
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul {
  width: 45%;
  margin: 0 20px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li {
  margin: 30px auto;
  display: flex;
  order: 1;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content {
  width: 100%;
  display: block;
  background-color: #177AFF;
  border-radius: 16px;
  padding: 50px 0;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_img {
  position: relative;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_img .function_text_li_img_content {
  margin: 0 auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_img .function_text_li_img_content .function_text_li_img_svg {
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  width: 370px;
  height: 370px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_img .function_text_li_img_content .function_text_li_img_svg .function_text_li_img_svg_content {
  margin: 0 auto;
  text-align: center;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_img .function_text_li_img_content .function_text_li_img_svg .function_text_li_img_svg_content svg {
  width: 50%;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_img .function_text_li_img_content .function_text_li_img_svg span {
  width: 100%;
  height: 49px;
  color: #fff;
  font-size: 22px;
  padding: 10px;
  background-color: rgba(23, 122, 255, 0.9);
  position: absolute;
  bottom: 30px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_text {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_text .function_text_li_text_content {
  margin: 0 auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_text .function_text_li_text_content p {
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  line-height: 1.5;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title {
  position: relative;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content {
  margin: 0 auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  font-size: 16px;
  color: #fff;
  padding: 16px;
  line-height: 2;
  background-color: #177AFF;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_text .function_text_li_text_content ol {
  background-color: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_text .function_text_li_text_content ol li {
  display: flex;
  justify-content: flex-start;
  padding: 0 16px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_text .function_text_li_text_content ol li p {
  padding: 16px;
  line-height: 2;
  font-size: 16px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) {
  order: 4;
  margin: 0px auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text {
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  background-color: #024FB8;
  border: 2px solid #024FB8;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text .function_text_li_text_content ul {
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  padding: 16px;
  line-height: 3;
  border: 2px solid #177AFF;
  display: flex;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li p {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title_p {
  color: #fff;
  background: none;
  width: 90%;
  padding: 40px 0;
  margin: 0px auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text {
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  background-color: #024FB8;
  border: 2px solid #024FB8;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text .function_text_li_text_content ul {
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  padding: 16px;
  line-height: 3;
  border: 2px solid #177AFF;
  display: flex;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li p {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(1) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title_p {
  width: 90%;
  padding: 40px 0;
  color: #fff;
  background: none;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) {
  order: 4;
  margin: 0px auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text {
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  background-color: #024FB8;
  border: 2px solid #024FB8;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul {
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  padding: 16px;
  line-height: 3;
  border: 2px solid #177AFF;
  display: flex;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li p {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title_p {
  color: #fff;
  background: none;
  width: 90%;
  padding: 40px 0;
  margin: 0px auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text {
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  background-color: #024FB8;
  border: 2px solid #024FB8;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul {
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  padding: 16px;
  line-height: 3;
  border: 2px solid #177AFF;
  display: flex;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li p {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title_p {
  width: 90%;
  padding: 40px 0;
  color: #fff;
  background: none;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) {
  order: 4;
  margin: 0px auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text {
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  background-color: #024FB8;
  border: 2px solid #024FB8;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text .function_text_li_text_content ul {
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  padding: 16px;
  line-height: 3;
  border: 2px solid #177AFF;
  display: flex;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li p {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title_p {
  color: #fff;
  background: none;
  width: 90%;
  padding: 40px 0;
  margin: 0px auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text {
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  background-color: #024FB8;
  border: 2px solid #024FB8;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text .function_text_li_text_content ul {
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  padding: 16px;
  line-height: 3;
  border: 2px solid #177AFF;
  display: flex;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li p {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}

.main .main_content .function .function_content .function_text .function_text_content ul .function_text_li:nth-child(5) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title_p {
  width: 90%;
  padding: 40px 0;
  color: #fff;
  background: none;
}

.main .main_content .function .function_content .function_text .function_text_content ul .dark_blue .function_text_li_content {
  background-color: #024FB8;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2) {
  width: 45%;
  margin: 0 20px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2) .function_text_li_content .function_text_li_img .function_text_li_text .function_text_li_text_content {
  margin: 0 auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2) .function_text_li_content .function_text_li_img .function_text_li_text .function_text_li_text_title {
  position: relative;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2) .function_text_li_content .function_text_li_img .function_text_li_text .function_text_li_text_title .function_text_li_text_title_content {
  margin: 0 auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2) .function_text_li_content .function_text_li_img .function_text_li_text .function_text_li_text_title .function_text_li_text_title_content h2 {
  font-size: 16px;
  color: #fff;
  padding: 16px;
  line-height: 2;
  background-color: #177AFF;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2) .function_text_li_content .function_text_li_img .function_text_li_text ol {
  background-color: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2) .function_text_li_content .function_text_li_img .function_text_li_text ol li {
  display: flex;
  justify-content: flex-start;
  padding: 0 16px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2) .function_text_li_content .function_text_li_img .function_text_li_text ol li p {
  padding: 16px;
  line-height: 2;
  font-size: 16px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) {
  order: 4;
  margin: 0px auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text {
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  border: 2px solid #024FB8;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text .function_text_li_text_content ul {
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  padding: 16px;
  line-height: 3;
  border: 2px solid #177AFF;
  display: flex;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li p {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title_p {
  color: #fff;
  background: none;
  width: 90%;
  padding: 40px 0;
  margin: 0px auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text {
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  background-color: #177AFF;
  border: 2px solid #177AFF;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text .function_text_li_text_content ul {
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  padding: 16px;
  line-height: 3;
  border: 2px solid #177AFF;
  display: flex;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li p {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(2) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title_p {
  width: 90%;
  padding: 40px 0;
  color: #fff;
  background: none;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) {
  order: 4;
  margin: 0px auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text {
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  background-color: #024FB8;
  border: 2px solid #024FB8;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul {
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  padding: 16px;
  line-height: 3;
  border: 2px solid #177AFF;
  display: flex;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li p {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title_p {
  color: #fff;
  background: none;
  width: 90%;
  padding: 40px 0;
  margin: 0px auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text {
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  background-color: #024FB8;
  border: 2px solid #024FB8;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul {
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  padding: 16px;
  line-height: 3;
  border: 2px solid #177AFF;
  display: flex;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li p {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(3) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title_p {
  width: 90%;
  padding: 40px 0;
  color: #fff;
  background: none;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) {
  order: 4;
  margin: 0px auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text {
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  background-color: #024FB8;
  border: 2px solid #024FB8;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text .function_text_li_text_content ul {
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  padding: 16px;
  line-height: 3;
  border: 2px solid #177AFF;
  display: flex;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li p {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title_p {
  color: #fff;
  background: none;
  width: 90%;
  padding: 40px 0;
  margin: 0px auto;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text {
  margin-top: 40px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title .function_text_li_text_title_content h2 {
  background-color: #024FB8;
  border: 2px solid #024FB8;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text .function_text_li_text_content ul {
  border-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #fff;
  padding: 16px;
  line-height: 3;
  border: 2px solid #177AFF;
  display: flex;
  flex-wrap: wrap;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li {
  width: 100%;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text .function_text_li_text_content ul li p {
  width: 100%;
  padding: 0;
  margin-left: 10px;
}

.main .main_content .function .function_content .function_text .function_text_content ul:nth-of-type(2):nth-child(4) .function_text_li_content .function_text_li_text .function_text_li_text_content .function_text_li_text_title_p {
  width: 90%;
  padding: 40px 0;
  color: #fff;
  background: none;
}

@media screen and (max-width: 1153px) {
  .main::before {
    width: 0;
  }
  .main::after {
    width: 0;
  }
  .main .main_content .privacy .privacy_content {
    display: flex;
    flex-wrap: wrap;
  }
  .main .main_content .privacy .privacy_content .privacy_img {
    width: 90%;
    top: 0;
  }
  .main .main_content .privacy .privacy_content .privacy_img .privacy_img_content {
    display: flex;
    justify-content: center;
  }
  .main .main_content .privacy .privacy_content .privacy_img .privacy_img_content img {
    width: 100%;
  }
  .main .main_content .privacy .privacy_content .privacy_text {
    width: 90%;
    top: 0;
  }
}

@media screen and (max-width: 860px) {
  .main .main_content .function .function_content .function_text {
    padding: 0;
  }
}

@media screen and (max-width: 847px) {
  .main .main_content .privacy {
    margin-top: 0;
  }
  .main .main_content .function .function_content .function_title .function_title_content img {
    width: 90%;
  }
  .main .main_content .function .function_content .function_text .function_text_content ul {
    width: 90%;
  }
  .main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_img .function_text_li_img_content .function_text_li_img_svg {
    width: 15em;
    height: 15em;
  }
  .main .main_content .function .function_content .function_text .function_text_content ul .function_text_li .function_text_li_content .function_text_li_img .function_text_li_img_content .function_text_li_img_svg span {
    font-size: 16px;
  }
  .main .main_content .function .function_content .function_text .function_text_content ul:nth-child(2) {
    width: 90%;
  }
}

.download {
  position: relative;
  padding: 0 0 43px 0;
}

.download .download_content {
  position: absolute;
  bottom: 43px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  z-index: 1;
}

.download .download_content .download_img {
  width: 50%;
}

.download .download_content .download_text {
  width: 50%;
  display: flex;
  align-items: end;
  padding-bottom: 130px;
}

.download .download_content .download_text .download_text_content {
  margin: 0 auto;
}

.download .download_content .download_text .download_text_content .download_text_title {
  position: relative;
}

.download .download_content .download_text .download_text_content .download_text_title .download_text_title_content {
  margin: 0 auto;
}

.download .download_content .download_text .download_text_content .download_text_title .download_text_title_content h2 {
  color: #fff;
  margin-bottom: 40px;
}

.download .download_content .download_text .download_text_content .download_text_button {
  position: relative;
}

.download .download_content .download_text .download_text_content .download_text_button .download_text_button_content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download .download_content .download_text .download_text_content .download_text_button .download_text_button_content a {
  margin-right: 20px;
}

.download .download_content .download_text .download_text_content .download_text_button .download_text_button_content a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.download .download_button {
  position: relative;
  width: 1778px;
  height: 447px;
  margin: 0 auto;
  background: url("../images/Banner.jpg");
  background-size: cover;
  border-radius: 16px;
}

.download .download_button .download_button_content {
  margin: 0 auto;
}

@media screen and (max-width: 847px) {
  .download {
    padding: 40px 0;
  }
  .download .download_content {
    bottom: 188px;
  }
  .download .download_content .download_img {
    display: none;
  }
  .download .download_content .download_text {
    width: 100%;
    padding-bottom: 0px;
  }
  .download .download_button {
    width: 90%;
  }
}

.footer {
  background-color: #177AFF;
}

.footer .footer_content {
  margin: 0 auto;
  width: 1320px;
  text-align: center;
  padding: 20px 0;
}

.footer .footer_content p {
  color: #fff;
}

@media screen and (max-width: 1192px) {
  .footer .footer_content {
    width: 100%;
  }
}
